@model GamesGameInfoViewModel
<!--tips: add .text-center,.text-right to the .card to change card text alignment-->

<img asp-append-version="true" src="/img/@Model.ImageName" class="card-img-top mx-auto m-1" alt="...">
<div class="card-body">
    <h5 class="card-title">@Model.Title</h5>
    <h6 class="card-subtitle mb-2 text-muted">@Model.Developer</h6>
</div>