
@{
    ViewData["Title"] = "GameInfo";
}

<h1>GameInfo</h1>
<table class="table table-hover">
    <tr>
        <td>@ViewBag.Game.Id</td>
        <td>@ViewBag.Game.Title</td>
        <td>@ViewBag.Game.Developer</td>
    </tr>
</table>

