@model GamesGameInfoViewModel


<h1>Game Info</h1>
<div class="card" style="width: 18rem;">
    <!--tips: add .text-center,.text-right to the .card to change card text alignment-->

    <img src="/img/@Model.ImageName" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Model.Developer</h6>
        
        <a href="/Games/GetGames" class="btn btn-primary">Back</a>
    </div>
</div>



