@model GamesGetGamesViewModel


<h1>@ViewBag.PageTitle</h1>
<table class="table table-hover table-responsive-sm">
    <tr>
        <th>Title</th>
    </tr>
    @foreach (var game in Model.Games)
    {
        <tr>
            <td><a href="/Games/GameInfo/@game.Id">@game.Title</a> </td>
        </tr>
    }
</table>
