@model IEnumerable<DeveloperDropDownViewModel>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Developers
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            @foreach (var developer in Model)
            {
                <a class="dropdown-item"
                   asp-controller="Developers"
                   asp-action="ShowGames"
                   asp-route-id="@developer.Id"
                   >@developer.Name</a>
            }
        </div>
    </li>